{% extends "base.html" %}
{% block content %}
    <h1>About me</h1>
    <div class="container">
        <img class="about_img" src="/static/342720062_1161674651139901_9211344445692965441_n.jpg" style="width: 25rem; float:left">
        <h2 class="ms-5">Hello, my name is Giorgi Tkeshelashvili. I am from a small country Georgia, and I am interested in medicine and programming. <br><br> Rise Program gave me the perfect opportunity to use my knowledge into something that would help everyone. My project is about first aid training, and I created this website to give a concise information about first aid principles. Here, I also created a quiz, which will test how well someone understood this topic.<br><br>Feel free to use this website or contact me at:<br> Mail: G.Tkeshela07@outlook.com </h2>
    </div>    

{% endblock %}